/* GENERAL */
* {
    font-family: 'Roboto', sans-serif;
    --primary-color: #A2ACB4;
    --secondary-color: #2A0D54;
    --third-color: #664c8c;
    --third-opacity-color: #664c8c8b;
    --fourth-color: #d9d9d9;
    --fourth-opacity-color: #d9d9d977;
}

body {
    margin: 0px;
    font-size: 17px;
}

/* MENU */
.navbar-row {
    background-color: var(--fourth-color);
    overflow: auto;
}

.navbar-logo {
    width: 10%;
    float: left;
}

.navbar-logo img {
    width: 120%;
    padding-top: 10%;
    padding-left: 30px;
}

.navbar-content {
    width: 80%;
    float: left;
}

.navbar-content ul {
    float: right;
}

.navbar-content li {
    display: inline;
    list-style-type: none;
    height: 128px;
}

.navbar-content a {
    float: left;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    padding: 14px 16px;
}

.navbar-content a:hover {
    background-color: var(--third-color);
    color: white;
}

.navbar-right {
    width: 10%;
    float: left;
}

.navbar-right a {
    display: inline;
    list-style-type: none;
    padding: 10px 12px;
}

.navbar-right i {
    padding: 5%;
    color: #000;
    margin-top: 19%;
    transition: transform .2s;
}

.navbar-right i:hover {
    color: var(--third-color);
    transform: scale(1.5);
}

.navbar-row {
    background-color: var(--fourth-color);
    overflow: auto;
}

/* Phone */
#navbar-small {
    display: none;
    /* max-width: 480px; */
    margin: auto;
    background-color: var(--fourth-color);
    height: 500px;
    /* color: white; */
    border-radius: 10px;
}

.navbar-menu {
    overflow: hidden;
    background-color: var(--fourth-color);
    position: relative;
}

.navbar-menu #menu-small {
    display: none;
}

.navbar-menu a img {
    width: 130px;
}

.navbar-menu a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.navbar-menu a.icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
}

.navbar-menu #menu-small a:hover {
    background-color: var(--third-color);
    color: white;
}

/* Search bar */
.shearch-bar {
    background-color: #d9d9d9bf;
}

.shearch-bar div {
    display: none;
    justify-content: center;
    padding: 5px;
}

.shearch-bar div input {
    width: 60%;
    padding: 2px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.shearch-bar div i {
    padding-top: 5px;
    margin-left: 10px;
}

.shearch-bar div i:hover {
    color: var(--third-color);
}


/* Body */
#main-container {
    overflow: auto;
}

.vertical-bar {
    width: 25%;
    float: left;
}

#side-box {
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 15px;
}

#side-list {
    background-color: var(--fourth-opacity-color);
    margin-bottom: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}

.side-title {
    text-align: center;
    background-color: var(--third-color);
    padding-top: 1px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2px;
    color: var(--fourth-color);
}

.side-item-menu h4 {
    padding: 5px;
}

.side-item-menu:hover {
    color: var(--third-color);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.side-item-menu a {
    text-decoration: none;
    color: #000;
}

.side-item-menu i {
    padding-right: 10%;
    color: var(--third-color);
}

.event-preview {
    background-color: var(--fourth-color);
    padding: 3%;
    margin-top: 5%;
}

.event-preview h5 {
    margin: 0;
    border-bottom: var(--third-color) solid 1px;
}

.event-preview p {
    font-size: 13px;
    margin-top: 5px;
}

.event-preview:last-child,
.side-item-menu:last-child {
    border: 0;
    margin-bottom: 5%
}

.contect-list-books {
    width: 74%;
    float: right;
    background-color: var(--fourth-opacity-color);
    margin-top: 30px;
    margin-right: 1%;
    margin-bottom: 15px;
}


.title {
    padding: 0px 25px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.contect-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 0px 15px;
}

.flip-card,
.flip-card-img {
    width: 250px;
    height: 350px;
}

.flip-card {
    background-color: transparent;
    margin: 5px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    /* Style if image is missing */
    background-color: var(--third-opacity-color);
    color: black;
}

.flip-card-back {
    background-color: var(--primary-color);
    color: black;
    transform: rotateY(180deg);

}

.flip-card-back div {
    padding: 0px 5%;
}

.flip-card-back h1,
.flip-card-back p {
    font-size: medium;
}

.flip-card-btn {
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--third-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.flip-card-btn:hover {
    background-color: var(--third-opacity-color);
    color: black;
}

#best-sellers {
    margin: 3% 0px;
}

.div-btn-full-line {
    padding: 0px 10px;
    padding-bottom: 20px;
}

.btn-full-line {
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--third-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.btn-full-line:hover {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}

.catalogo {
    margin-bottom: 15px;
}

.contect-about {
    width: 74%;
    float: right;
    /* background-color: var(--fourth-opacity-color); */
    margin-top: 30px;
    margin-right: 1%;
    margin-bottom: 15px;

}

.tablink,
.tablink-book {
    background-color: var(--primary-color);
    font-weight: 500;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    height: auto;
}

.tablink:hover,
.tablink-book {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    min-height: 655px;
}

.tabcontent div {
    margin: 2%;
}

.tabcontent-book {
    color: black;
    display: none;
    padding: 50px;
    min-height: 655px;
}

#history,
#summary {
    background-color: #8e76b1;
}

#careers,
#reviews {
    background-color: var(--third-color);
}

#whatdo {
    background-color: #5c3099;
}

#news {
    background-color: #57328b;
}

.colum-img {
    margin: 0 5%;
    display: inline;
}

.colum-img img {
    width: 250px;
    height: auto;
}

.event-list {
    text-align: left;
    margin-top: 30px !important;
}

.event {
    margin: 0 5px;
    padding: 0 10px;
    border: solid 1px #8e76b1;
    border-radius: 5px;
}

.event h1 {
    margin-bottom: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
}

select {
    height: 33px;
    width: 105%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
}

textarea {
    height: 170px;
}

.container {
    background-color: var(--fourth-opacity-color);
    padding: 10px;
    margin: 2%;
}

.column {
    float: left;
    width: 47%;
    margin-top: 6px;
    padding: 10px;
    justify-content: center;
}

.column img {
    width: 100%;
}

#title {
    text-align: center;
}

#reiting-book {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 5%;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

.right {
    text-align: right;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar {
    height: 18px;
    background-color: var(--secondary-color);
}

.bar-5 {
    width: 60%;
}

.bar-4 {
    width: 30%;
}

.bar-3 {
    width: 10%;
}

.bar-2 {
    width: 4%;
}

.bar-1 {
    width: 15%;
}

.reviews {
    margin-right: 5%;
}

.btn-review {
    background-color: var(--fourth-color);
    color: #000;
}

.btn-review:hover {
    background-color: var(--primary-color);
    color: #000;
}








/* Footer */
.footer-row {
    background-color: var(--secondary-color);
    overflow: auto;
}

.footer-left {
    width: 20%;
    float: left;
}

.footer-left div {
    margin-top: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.footer-left img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

#social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}

#social-icons a i {
    color: var(--primary-color);
    font-size: 20px;
    transition: transform .2s;
}

#social-icons i:hover {
    color: var(--fourth-color);
    transform: scale(1.5);
}

.footer-center {
    width: 60%;
    float: left;
    color: #fff;
}

.footer-center div {
    text-align: center;
}

.footer-center div h3 {
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 0px;
    padding-top: 3%;
}

.footer-center div p {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 15px;
}

.footer-center button {
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    color: var(--third-color);
    background-color: var(--fourth-color);
    border: var(--fourth-color) solid 1px;
    border-radius: 10px;
}

.footer-center button:hover {
    color: var(--secondary-color);
    border: var(--primary-color) solid 1px;
    background-color: var(--primary-color);
}

.footer-right {
    width: 20%;
    float: left;
}

.copyright {
    color: var(--primary-color);
    font-size: 10px;
    float: left;
    margin-left: 15px;
}

/* Screen */
@media screen and (min-width:930px) and (max-width: 1115px) {
    .navbar-right a {
        padding-left: 2%;
        padding-right: 2%;
    }

    .navbar-logo img {
        padding-top: 15%;

    }

    .footer-center {
        width: 50%;
    }

    .tablink {
        height: 60px;
    }

    select {
        width: 107%;
    }
}

@media screen and (min-width:800px) and (max-width: 930px) {
    .navbar-right i {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 14%;
    }

    .navbar-right a {
        padding: 5px 7px;
    }

    .navbar-logo img {
        width: 150%;
        padding-top: 20%;

    }

    .footer-center {
        width: 45%;
    }

    .tablink {
        height: 80px;
    }

    .event-list {
        margin-top: 10% !important;
    }
}

/* Tablets */
@media screen and (min-width:600px) and (max-width: 800px) {
    .navbar-logo img {
        width: 150%;
        padding-top: 20%;

    }

    .navbar-right i {
        padding-top: 20%;

    }
}

@media screen and (min-width:500px) and (max-width: 800px) {
    #search-icon-big {
        display: none;
    }

    .shearch-bar div {
        display: flex;
    }
}

@media screen and (min-width:475px) and (max-width: 800px) {
    .footer-left img {
        width: 50%;
    }

    .footer-center div {
        margin: 0;
    }

    .footer-center div h3 {
        margin-top: 0px;
        padding-bottom: 3%;
        margin-right: 5%;
    }

    .footer-center div button {
        width: 80%;
        margin: 0;
    }

}

/* Phones */
@media screen and (max-width: 800px) {
    .footer-row div {
        margin-right: 20px;
        margin-left: 20px;
        padding: 10px;
        display: flex;
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contect-books {
        justify-content: center;
    }

    .vertical-bar {
        float: left;
        width: 100%;
    }

    .contect-list-books,
    .contect-about {
        width: 90%;
        margin-right: 5%;
    }

    .tablink,
    .tablink-book {
        padding: 14px 16px;
        font-size: 14px;
        width: 50%;
        height: 50px;
    }

    .tabcontent {
        padding: 15px !important;
    }

    .tabcontent-book {
        padding: 15px !important;
        padding-top: 50px !important;
    }

    .event-list {
        margin: 0 !important;
        margin-top: 20% !important;
    }

    .column {
        padding: 5px;
    }
}

@media screen and (max-width:600px) {
    .navbar-logo {
        width: 7%;
    }

    .navbar-logo img {
        width: 100px;
        padding-top: 25px;
        padding-left: 15px;

    }

    .navbar-right i {
        padding-top: 25px;

    }

    .event-list {
        margin-top: 30% !important;
    }

    .column,
    input[type=submit],
    input[type=text],
    input[type=password],
    textarea,
    input[type=email] {
        width: 95%;
    }

    select {
        width: 107%;
    }
}

@media screen and (max-width:500px) {
    #navbar-big {
        display: none;
    }

    #navbar-small {
        display: inline;
    }

    .shearch-bar div {
        display: flex;
    }

    .shearch-bar div input {
        padding: 0px;
    }

    .copyright {
        margin-left: 0;
    }

    select {
        width: 100%;
    }
}

@media screen and (max-width:475px) {
    .footer-center div button {
        width: 100%;
        margin: 0;
    }

    .event-list {
        margin-top: 40% !important;
    }

    #reiting-book {
        padding: 2%;
    }

    select {
        width: 103%;
    }
}

@media (max-width: 400px) {
    #reiting-book {
        border: none;
        border-top: 1px solid #f1f1f1;
        border-radius: 0;
    }

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }

}